@(message: String)

@main("Welcome to Play") {

  <div class="notification-block">
    <h3 id="notification"></h3>
  </div>
  <div class="step connection-step">
    <input type="text" placeholder="Choose your name">
    <button>Ok</button>
  </div>
  <div class="step arrangement-step">
    <canvas class="game-field" id="arrangement-field" width="400" height="275"></canvas>
  </div>
  <div class="step game-step">
    <canvas class="game-field" id="own-field" width="275" height="275"></canvas>
    <canvas class="game-field" id="rival-field" width="275" height="275"></canvas>
  </div>

}
